@media only screen and (max-width: 599px) and (orientation: portrait) {
  .settings-pane,
  .settings-pane label.form-check-label {
    font-size: 0.85em !important;
    margin-top: 0.5vh;
    margin-left: -1vw;
  }
}
/* Desktop */
@media only screen and (min-width: 1200px) {
  .button--continue:active {
    border-top-style: inset !important;
    border-right-style: inset !important;
    border-bottom-style: inset !important;
    border-left-style: inset !important;
  }
}
